html {
  scroll-behavior: smooth;
  padding-top: 52px;
}

// Brand colors
$color-primary: #FF6700;
$color-light-grey: #f6f6f6;
$color-medium-grey: #8b8b8b;
$color-white: #ffffff;

// Bulma's global variables
$family-sans-serif: "Open Sans", sans-serif;
// $body-family: "Open Sans", sans-serif;
$primary: $color-primary;
$body-color: $color-medium-grey;
$link: $color-primary;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;