@charset "utf-8";

// Import a Google Font

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@400;500;600&family=Prata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@font-face {
  font-family: "Hatolie";
  src: url("/fonts/Hatolie.ttf") format("truetype");
}

body {
  @include sans-serif-font;
}

.title {
  font-family: "Prata", serif;
  font-size: 2rem;
  margin-bottom: 1rem !important;
  @include breakpoint(tablet) {
    font-size: 2.2rem;
  }

  &--white {
    color: $color-white;
  }
}


.subtitle {
  color: $color-black-50;
  font-size: 1.125rem;
  line-height: 1.5rem;

  &--white {
    color: $color-white;
    opacity: 0.8;
  }
}